body {
  margin: '100px auto';
  padding: 0;
  font-family: sans-serif;
  font-size: 28px;
  background-color: black;
  color: white;
}

div {
  margin-bottom: 20px;
}

input,
select,
button {
  width: 100px;
  font-size: 20px;
}
